<div class="container-fluid">
	<h1>Budgets <i class="fa fa-plus-square clickable" ng-click="data.newBudget = true"></i> <small>Add a budget</small></h1>
	<h1><em>{{data.current.start | date:'MMMM yyyy'}}</em></h1>
	<div class="budget new" ng-if="data.newBudget">
		<form ng-submit="saveBudget()">
			New
		</form>
	</div>
	<div class="months">
		<ul class="monthlist">
			<li class="month" ng-repeat="month in data.year | edWindowWidth:1279" ng-class="{current: month.current}" ng-click="viewBudget(month)">
				<h4>{{month.start | date:'MMM'}}</h4>
				<h4>{{month.start | date:'yyyy'}}</h4>
			</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
	<div class="loading" ng-if="!budgets || budgets.length == 0"><i class="fa fa-star-o fa-spin fa-4x"></i><div>loading</div></div>
	<div class="row-fluid budget clearfix" ng-repeat="budget in budgets">
		<div class="budget-desc">
			<h2 ng-class="{over: budget.total - budget.spent < 0}"><i class="fa fa-dollar"></i> <span>{{budget.total - budget.spent | edMoney}}</span></h2>
		</div>
		<div class="budget-wrapper">
			<div class="clearfix"><span class="budget-info info title"><b>{{(budget.category | category:categories).title}}</b></span><span class="total budget-info">${{budget.total}}</span></div>
			<div class="budget-bar">
				<div class="budget-mask" ng-style="budget.style" title="{{budget.spent}}"></div>	
			</div>
		</div>
	</div>
</div>