<div class="container-fluid content">
	<form ng-submit="handle()">
		<div class="form-container">
			<h3><span class="clickable" ng-click="data.create = false" ng-class="{highlight: !data.create}">Sign In</span> or <span class="clickable" ng-click="data.create = true" ng-class="{highlight: data.create}">Sign Up</span></h3>
		</div>
		<div class="form-container">
			<label for="email" class="form-label">Email</label>
			<input id="email" class="input" type="email" placeholder="email" ng-model="data.user.email" autofocus/>
		</div>
		<div class="form-container">
			<label for="password" class="form-label">Password</label>
			<input id="password" class="input" type="password" placeholder="password" ng-model="data.user.password" />
		</div>
		<div class="form-container">
			<input type="submit" class="input green-btn" value="submit" ng-click="handle()" />
		</div>
	</form>
</div>