<html ng-app="ed.budgetbud">
<head>
	<meta charset="utf8">
	<title>Budget Bud</title>
	<base href="/">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>

	<div id="app" class="container-fluid">
		<div class="col-sm-3 menu" ng-controller="NavCtrl">
			<div class="pad">
				<a href="/">
					<div class="head">
						<h1>Budget Bud</h1>
						<hr>
					</div>
				</a>
			</div>
			<div class="pad" ng-if="loggedIn()">
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{active: nav.path() == '/'}"><i class="fa fa-compass fa-2x"></i><a href><h2>Overview</h2></a></li>
					<li ng-class="{active: nav.path() == '/budgets'}"><i class="fa fa-money fa-2x"></i><a href><h2>Budgets</h2></a></li>
					<li ng-class="{active: nav.path() == '/expenses'}"><i class="fa fa-pencil fa-2x"></i><a href><h2>Expenses</h2></a></li>
					<!-- <li><i class="fa fa-bar-chart-o fa-2x"></i><a href><h2>Analyze</h2></a></li> -->
				</ul>
				<hr>
				<ul class="nav nav-pills nav-stacked">
					<li><a ng-click="logout()" href><h2>Logout</h2></li>
				</ul>
			</div>
			<footer>
				<h3>&copy; erik donohoo</h3>
			</footer>
		</div>
		<div class="col-sm-9 main">
			<div class="pad" ng-view>
			</div>
		</div>
	</div>

	<script src="/js/lib/angular/angular.js"></script>
	<script src="/js/lib/angular/angular-route.js"></script>
	<script src="/js/lib/angular/angular-resource.js"></script>
	<script src="/js/lib/angular/angular-touch.js"></script>
	<script src="/js/lib/angular/angular-animate.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/controllers/login.js"></script>
</body>
</html>