@import url(http://fonts.googleapis.com/css?family=Fauna+One);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
html,
body {
  min-height: 100%;
  font-size: 15px;
  font-family: 'Fauna One', serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  min-width: 1280px;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}
hr {
  width: 90%;
  margin: 20px auto;
}
.pad {
  padding: 0 15px;
}
#app {
  padding: 0;
  margin: 0;
}
#app > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.menu {
  min-height: 100%;
  position: fixed;
  background-image: url('/img/tweed.png');
  color: #cad4cd;
  box-shadow: inset -2px 0 3px 1px rgba(0, 0, 0, 0.25);
  min-width: 320px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 15px;
}
.head {
  text-align: center;
}
.head h1 {
  position: relative;
  display: inline-block;
  word-wrap: nowrap;
}
.head h1:after,
.head h1:before {
  position: absolute;
  content: '\f155';
  font-size: 50px;
  font-family: 'FontAwesome';
  top: -15%;
  z-index: -1;
  opacity: 0.6;
}
.head h1:after {
  color: green;
  left: 50%;
}
.head h1:before {
  color: white;
  left: 49.5%;
  z-index: -2;
}
.main {
  margin-left: 25%;
  min-height: 100%;
  min-width: 960px;
  background-image: url('/img/squairy_light.png');
}
.nav li h2 {
  margin: 0;
}
ul.nav li {
  padding: 0 40px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
ul.nav li:hover,
ul.nav li.active {
  border-radius: 6px;
  color: #333333;
}
ul.nav li:hover i.fa,
ul.nav li.active i.fa {
  opacity: 0.8;
  left: -25px;
}
ul.nav li:hover {
  background-color: #cccccc;
}
ul.nav li.active {
  box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #333333;
  background-color: #e6e6e6;
}
ul.nav li a {
  color: inherit !important;
  background-color: transparent !important;
}
ul.nav li i.fa {
  color: #333333;
  position: absolute;
  opacity: 0;
  left: -60px;
  top: 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
  .pad {
    display: inline-block;
    width: 100%;
  }
  ul.nav li h2 {
    display: none;
  }
  ul.nav {
    height: 100%;
  }
  ul.nav li {
    display: inline-block;
    background: transparent;
    height: 100%;
    margin: 0;
    color: #cad4cd;
    float: right;
    padding: 0 10%;
  }
  ul.nav li.active,
  ul.nav li:hover {
    background: transparent;
    box-shadow: none;
    color: inherit;
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  ul.nav li.active i.fa {
    padding-bottom: 8px;
    color: white;
    border-bottom: 2px solid white;
  }
  ul.nav li:hover:not(.active) i.fa {
    padding-bottom: 8px;
    border-bottom: 2px solid #cad4cd;
  }
  ul.nav li i.fa {
    left: -25px;
    opacity: 0.8;
    color: inherit;
  }
  ul.nav li a {
    padding: 0;
    margin: 9px 0;
  }
  .menu {
    position: relative;
    min-height: 0%;
    box-shadow: none;
    min-width: 100%;
    height: 70px;
  }
  .menu .top {
    width: 15%;
    left: 0;
    top: 0px;
    position: absolute;
    opacity: 0.99;
    padding: 0;
    height: inherit;
  }
  .menu .top h1 {
    margin: 10px 0;
  }
  .menu .navigation {
    padding: 0;
    width: 85%;
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
  }
  .main {
    min-width: 100%;
    margin-left: 0;
  }
  html,
  body {
    min-width: 100%;
  }
}
form {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
.form-container {
  width: 100%;
  margin-bottom: 10px;
  height: 60px;
}
.form-container h3 {
  width: 70%;
  float: right;
  text-align: left;
}
.form-container .input {
  height: 45px;
  padding: 15px 10px;
}
.form-container input[type="submit"] {
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
}
.highlight {
  color: rgba(65, 185, 74, 0.95);
  cursor: default;
  border-bottom: 2px solid transparent;
}
.clickable {
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  cursor: pointer;
}
.clickable.highlight {
  cursor: default;
}
.clickable:not(.highlight) {
  border-bottom: 2px solid #333333;
}
.form-label {
  width: 30%;
  height: inherit;
  text-align: right;
  padding: 10px 20px;
  float: left;
}
.input {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.65);
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
  letter-spacing: 1.1px;
  float: right;
  border-radius: 8px;
  text-align: left;
  border: 1px solid rgba(117, 133, 150, 0.55);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.input:focus {
  outline: none;
  border: 1px solid rgba(65, 185, 74, 0.95);
}
.green-btn {
  background: -moz-linear-gradient(top, rgba(107, 186, 112, 0.75) 0%, #6bba70 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(107, 186, 112, 0.75)), color-stop(100%, #6bba70));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(107, 186, 112, 0.75) 0%, #6bba70 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(107, 186, 112, 0.75) 0%, #6bba70 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(107, 186, 112, 0.75) 0%, #6bba70 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(107, 186, 112, 0.75) 0%, #6bba70 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf6bba70', endColorstr='#6bba70', GradientType=0);
  /* IE6-9 */
  color: whitesmoke;
  line-height: 0;
  border: 1px solid transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.green-btn:hover {
  border-bottom: 1px solid green;
  border-left: 1px solid #52a052;
  border-right: 1px solid #52a052;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
@media (max-width: 768px) {
  form {
    width: 100%;
    margin-left: 0;
  }
  .col-sm-9 {
    width: 100%;
  }
  .content {
    padding: 0;
  }
  .form-container .form-label {
    display: none;
  }
  .form-container h3 {
    text-align: center;
  }
  .form-container > * {
    display: block;
    width: 100% !important;
  }
}
