@import url(http://fonts.googleapis.com/css?family=Fauna+One);
html,
body {
  min-height: 100%;
  font-size: 15px;
  font-family: 'Fauna One', serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
a {
  color: inherit;
  text-decoration: none;
  height: auto;
  width: auto;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
hr {
  width: 90%;
  margin: 20px auto;
}
.pad {
  padding: 0 15px;
}
#app {
  padding: 0;
  margin: 0;
}
#app > div.row-fluid > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.menu {
  min-height: 100%;
  position: fixed;
  background-color: #555555;
  color: #cad4cd;
  z-index: -3;
}
.head {
  text-align: center;
}
.head h1 {
  position: relative;
  display: inline-block;
  word-wrap: nowrap;
}
.head h1:after,
.head h1:before {
  position: absolute;
  content: '\f155';
  font-size: 50px;
  font-family: 'FontAwesome';
  top: -15%;
  z-index: -1;
  opacity: 0.6;
}
.head h1:after {
  color: green;
  left: 50%;
}
.head h1:before {
  color: white;
  left: 49.5%;
  z-index: -2;
}
.main {
  margin-left: 25%;
  min-height: 100%;
  background-color: #cccccc;
}
.nav li h2 {
  margin: 0;
}
ul.nav li {
  margin: 10px 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
ul.nav li:hover a {
  border-radius: 6px;
  background-color: #cccccc;
  color: #333333;
}
@media (max-width: 768px) {
  .nav {
    position: relative;
    min-height: 0%;
  }
  .main {
    margin-left: 0;
  }
}
