// Colors
@nav:#555;
@main:#ccc;

// Fonts
@import url(http://fonts.googleapis.com/css?family=Fauna+One);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@font-main:'Fauna One', serif;
@font-accent:'Oxygen', sans-serif;
@font-size:15px;
@font-light:#CAD4CD;
@font-awesome:'FontAwesome';
@font-dark:#333;

html ,body {
	min-height:100%;
	font-size:@font-size;
	font-family:@font-main;
	text-shadow: 0 1px 1px hsla(0,0%,0%,.25);
	min-width:1280px;
}
.loading {
	font-size:30px;
	position:absolute;
	left:45%;
	top:40%;
}
a {
	color:inherit;
	&:hover {
		color:inherit;
	}
}
hr {
	width:90%;
	margin:20px auto;
}
.pad {
	padding:0 15px;
}
#app {
	padding:0;
	margin:0;
	> [class^="col-"] {
		padding-left:0;
		padding-right:0;
	}
}
.menu {
	min-height:100%;
	position:fixed;
	background-image:url('/img/tweed.png');
	color:@font-light;
	box-shadow: inset -2px 0 3px 1px hsla(0,0%,0%,.25);
	min-width:320px;
}
footer {
	position:absolute;
	bottom:0;
	left:15px;
}
.head {
	text-align: center;
	h1 {
		position:relative;
		display:inline-block;
		word-wrap: nowrap;
	}
	h1:after, h1:before {
		position:absolute;
		content:'\f155';
		font-size:50px;
		font-family:@font-awesome;
		top:-15%;
		z-index:-1;
		opacity:0.6;
	}
	h1:after {
		color:green;
		left:50%;
	}
	h1:before {
		color:white;
		left:49.5%;
		z-index:-2;
	}
}
.main {
	margin-left:25%;
	min-height:100%;
	min-width:960px;
	background-image:url('/img/squairy_light.png');
}
.nav li h2 {
	margin:0;
}
ul.nav li {
	@anim-speed:.2s;
	padding:0 40px;
	margin:10px 0;
	position:relative;
	overflow:hidden;
	border-bottom:1px solid transparent;
	-webkit-transition: all @anim-speed ease;
	   -moz-transition: all @anim-speed ease;
	    -ms-transition: all @anim-speed ease;
	     -o-transition: all @anim-speed ease;
	        transition: all @anim-speed ease;
	&:hover, &.active {
		border-radius:6px;
		color:@font-dark;

		i.fa {
			opacity:0.8;
			left:-25px;
		}
	}
	&:hover {
		background-color:@main;
	}
	&.active {
		box-shadow: inset 2px 2px 5px 1px hsla(0,0%,0%,.25);
		border-bottom-color:@font-dark;
		background-color:lighten(@main, 10%);
	}
	a {
		color:inherit !important;
		background-color:transparent !important;
	}
	i.fa {
		color:@font-dark;
		position:absolute;
		opacity:0;
		left:-60px;
		top:12px;
		-webkit-transition: all @anim-speed ease;
		   -moz-transition: all @anim-speed ease;
		    -ms-transition: all @anim-speed ease;
		     -o-transition: all @anim-speed ease;
		        transition: all @anim-speed ease;
	}
}

// Tablet landscape, very small screen
@media (max-width:1279px) {
	html, body {
		min-width:0px;
	}
	.hidden-xs {
		display:none;
	}
	.main {
		float:right;
		width:90%;
		min-width:0px;
		max-width:95%;
		margin-left:0px;
	}
	.menu {
		width:10%;
		min-width:0px;
		position:relative;

		.top {
			right:15%;
			margin:0 auto;
			position:relative;
			opacity:0.99;
			padding:0;
			height:inherit;
			h1 {
				margin:10px auto;
			}
		}
		.navigation {
			padding:0;
			position:relative;
			width:100%;
			right:0;
			top:0;
			height:inherit;
		}
	}
	ul.nav li h2 {
		display:none;
	}
	ul.nav li {

		&:first-child {
			margin-top:100px;
		}

		display:block;
		width:90%;
		background:transparent;
		height:100px;
		margin:0 auto;
		color:@font-light;
		padding:0 10%;
		@space:25%;
		&.active, &:hover {
			background:transparent;
			box-shadow: none;
			color:inherit;
			border:none;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;

		}
		&.active i.fa {
			padding-bottom:8px;
			color:white;
			border-bottom:2px solid white;
			left:@space;
		}
		&:hover:not(.active) i.fa {
			padding-bottom:8px;
			border-bottom:2px solid @font-light;
			left:@space;
		}
		i.fa {
			left:@space;
			opacity:0.8;
			color:inherit;
		}
		a {
			padding:0;
			margin:9px 0;
		}
	}
}

// Smartphone, tablet portrait
@media (max-width:768px) {
	.pad {
		display:inline-block;
		width:100%;
	}
	ul.nav {
		height:100%;
	}
	ul.nav li {
		display:inline-block;
		height:100%;
		width:10%;
		margin:0;
		float:right;

		&:first-child {
			margin-top:0px;
		}
		&.active i.fa {
			left:-25px;
		}
		&:hover:not(.active) i.fa {
			left:-25px;
		}
		i.fa {
			left:-25px;
		}
	}
	.menu {
		position:relative;
		min-height:0%;
		box-shadow: none;
		min-width:100%;
		height:70px;
		.top {
			width:15%;
			left:0;
			right:0;
			top:0px;
			margin:0;
			position:absolute;
			opacity:0.99;
			padding:0;
			height:inherit;
			h1 {
				margin:8px 0;
			}
		}
		.navigation {
			width:85%;
			position:absolute;
		}
	}
	.main {
		min-width:100%;
		margin-left:0
	}
	html,body {
		min-width:100%;
	}
}

@import 'login.less';
@import 'budget.less';