.budget-bar {
	position:relative;
	width:50%;
	height:60px;
	background: #1de241; /* Old browsers */
	border:2px solid @font-dark;
	background: #1de241; /* Old browsers */
	background: -moz-linear-gradient(left,  #1de241 0%, #1de241 46%, #f9c236 81%, #d6482f 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1de241), color-stop(46%,#1de241), color-stop(81%,#f9c236), color-stop(96%,#d6482f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1de241 0%,#1de241 46%,#f9c236 81%,#d6482f 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1de241 0%,#1de241 46%,#f9c236 81%,#d6482f 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1de241 0%,#1de241 46%,#f9c236 81%,#d6482f 96%); /* IE10+ */
	background: linear-gradient(to right,  #1de241 0%,#1de241 46%,#f9c236 81%,#d6482f 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1de241', endColorstr='#d6482f',GradientType=1 ); /* IE6-9 */
	border-radius:8px;
	z-index:0;
	margin-bottom:15px;
}
.budget-mask {
	height:56px;
	z-index:1;
	float:right;
	border-radius:6px;
	background-color:#EFF7ED;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	width:100%;
	-webkit-transition: width .6s ease-out;
	   -moz-transition: width .6s ease-out;
	    -ms-transition: width .6s ease-out;
	     -o-transition: width .6s ease-out;
	        transition: width .6s ease-out;
}
.budget-info {
	z-index:3;
	margin:0 10px;
}
.budget-info.total {
	position:absolute;
	right:0;
}
.info {
	position:absolute;
	left:0;
}